In [294]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Okuma ve ön işleme
data = pd.read_csv('LoansTrainingSet.csv')

C:\Users\Ramazan & Selma\AppData\Local\Temp\ipykernel_27164\2496255997.py:7: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('LoansTrainingSet.csv')

In [321]:
data["Years in current job"].value_counts()

Years in current job
10.0    78896
2.0     23462
0.0     21012
3.0     20659
5.0     17864
1.0     16746
4.0     16166
6.0     14597
7.0     13968
8.0     12206
9.0      9932
Name: count, dtype: int64

In [ ]:
#conversion = Monthly Debt, Years in current job,Bankruptcies,Tax Liens ,Maximum Open Credit
#converted  = Monthly Debt, Years in current job,Bankruptcies,Tax Liens ,

In [ ]:
#fill: Current Loan Amount
#     ,Credit Score
#     ,Years in current job
#     ,Annual Income
#     ,Monthly Debt
#     ,Months since last delinquent

In [ ]:
#dummies = ["Loan Status","Term","Home Ownership","Purpose"]

In [322]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 17 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   256984 non-null  object
 1   Current Loan Amount           221774 non-null  float64
 2   Term                          256984 non-null  object
 3   Credit Score                  195308 non-null  float64
 4   Years in current job          245508 non-null  float64
 5   Home Ownership                256984 non-null  object
 6   Annual Income                 195308 non-null  float64
 7   Purpose                       256984 non-null  object
 8   Monthly Debt                  256723 non-null  float64
 9   Years of Credit History       256984 non-null  float64
 10  Months since last delinquent  116601 non-null  float64
 11  Number of Open Accounts       256984 non-null  int64
 12  Number of Credit Problems     256984 non-null  int64
 13  Current Credit Balance        256984 non-null  int64
 14  Maximum Open Credit           256984 non-null  object
 15  Bankruptcies                  256984 non-null  int32
 16  Tax Liens                     256984 non-null  int32
dtypes: float64(7), int32(2), int64(3), object(5)
memory usage: 31.4+ MB

In [320]:
data.isnull().sum()

Loan Status                          0
Current Loan Amount              35210
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                       261
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [ ]:
# fill null values of Tax Liens with 0.0 then convert this column to a int64

data["Tax Liens"].fillna(0.0, inplace=True)
data["Tax Liens"] = data["Tax Liens"].astype(int)

In [ ]:
# fill null values of Bankruptcies with 0.0 then convert this column to a int64

data["Bankruptcies"].fillna(0.0, inplace=True)
data["Bankruptcies"] = data["Bankruptcies"].astype(int)

In [305]:
# conver '< 1 year' values with 0 in the 'Years in current job' column

data['Years in current job'] = data['Years in current job'].replace('< 1 year', '0', regex=True)

In [309]:
# remove all nonnumeric values from "Years in current job" column

data['Years in current job'] = data['Years in current job'].str.extract('(\d+)', expand=False).astype(float)

In [310]:
# remove $ sign from Monthly Dept column

data["Monthly Debt"] = data["Monthly Debt"].str.replace('$', '')

# remove , sign from Monthly Dept column

data["Monthly Debt"] = data["Monthly Debt"].str.replace(',', '')

# remove spaces from beginning of Monthly Dept values and end of monthly depts 

data["Monthly Debt"] = data["Monthly Debt"].str.strip()

In [311]:
data["Monthly Debt"] = data["Monthly Debt"].astype(float)

In [312]:
# make null the values that less than 1 of monthly dept column

data["Monthly Debt"] = data["Monthly Debt"].mask(data["Monthly Debt"] < 1, np.nan)

In [313]:
#replace "other" values of Purpose column with "Other" value

data['Purpose'].replace('other', 'Other',inplace=True)

In [314]:
data['Maximum Open Credit'].replace('0', 0,inplace=True)

In [315]:

data = data.drop(['Loan ID', 'Customer ID'], axis=1)

In [316]:
#convert 99999999 values in 'Current Loan Amount' to nan values

data["Current Loan Amount"] = data["Current Loan Amount"].replace(99999999, np.nan)

#fill nan values in "Current Loan Amount" with the best approtiate values to predict the most accurate values for loan status

#data["Current Loan Amount"] = data["Current Loan Amount"].fillna(data["Current Loan Amount"].mean())

In [317]:
# is there any dublicater 

data.duplicated().sum() # drop duplicates # exists
data.drop_duplicates()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,11520.0,Short Term,741.0,10.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41.0,10,0,6760,16056,0,0
1,Fully Paid,3441.0,Short Term,734.0,4.0,Home Mortgage,42269.0,Other,1106.04,26.3,NaN,17,0,6262,19149,0,0
2,Fully Paid,21029.0,Short Term,747.0,10.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,NaN,5,0,20967,28335,0,0
3,Fully Paid,18743.0,Short Term,747.0,10.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,NaN,9,0,22529,43915,0,0
4,Fully Paid,11731.0,Short Term,746.0,4.0,Rent,50025.0,Debt Consolidation,355.18,11.5,NaN,12,0,17391,37081,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,Fully Paid,3911.0,Short Term,NaN,2.0,Rent,NaN,Debt Consolidation,1706.58,19.9,NaN,16,0,43992,44080,0,0
256980,Fully Paid,5078.0,Short Term,737.0,10.0,Own Home,77186.0,Debt Consolidation,1376.47,19.1,47.0,9,0,1717,9758,0,0
256981,Charged Off,12116.0,Short Term,7460.0,9.0,Home Mortgage,52504.0,Debt Consolidation,297.96,15.1,82.0,8,0,3315,20090,0,0
256982,Charged Off,12116.0,Short Term,746.0,9.0,Home Mortgage,52504.0,Debt Consolidation,297.96,15.1,82.0,8,0,3315,20090,0,0
256983,Fully Paid,27902.0,Long Term,678.0,10.0,Home Mortgage,117480.0,Debt Consolidation,2525.82,18.0,11.0,10,0,28317,62371,0,0